/*
    @package diTheme
    ##################################################
    |   CONTACT PAGE STYLES                          |
    ##################################################
*/
@use "sass:math";
@import './modules/reset';
@import './modules/variables';
@import './modules/mixins';
@import './modules/formElements';
@import './modules/buttons';

.contact-main {
    height: calc(100vh - 60px);
    position: relative;
    width: 100%;
}

.bg {
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;

    svg {
        bottom: 0;
        fill: $di__light;
        left: -150%;
        opacity: .15;
        overflow: hidden;
        position: absolute;
        top: 0;
        width: 420%;
    }
}

.container {
    display: flex;
    justify-content: center;
}

.contact-links {
    align-items: center;
    display: flex;
    flex: 0;
    flex-direction: column;
    justify-content: flex-start;
    margin: 76px 20px 0 0;
    position: relative;
    width: 30px;

    a {
        display: block;
        margin-bottom: 15px;

        svg {
            fill: $di__primary;
            height: 20px;
        }

        &:active {
            svg {
                fill: $di__light;
            }
        }
        &:hover {
            svg {
                fill: $di__light;
            }
        }
    }
}

.contact-form {
    flex: 1;
    margin-bottom: 40px;
}

h2 {
    color: $di__primary;
    flex: 1;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 40px 0 5px 0;
    padding-left: 20px;
    text-transform: lowercase;
}

.contact-bar {
    background: $di__primary;
    height: 1px;
    margin-left: 20px;
    width: 125px;
}

#di-contact-form {
    border-left: solid 1px $di__primary;
    flex: 1;
    margin-top: 15px;
    padding-left: 20px;
    position: relative;
}

@media screen and (min-width: 320px) {
    .contact-links {
        margin-right: 20px;

        a {
            margin-bottom: 20px;
    
            svg {
                height: 25px;
            }
        }
    }
    .contact-bar {
        margin-left: 20px;
    }

    
    h2, #di-contact-form {
        padding-left: 20px;
    }
}

@media screen and (min-width: 360px) {
    .contact-main {
        height: calc(100vh - 70px);
    }

    .bg {
    
        svg {
            bottom: 0;
            fill: $di__light;
            left: -130%;
            opacity: .15;
            position: absolute;
            top: 0;
            width: 380%;
        }
    }

    .contact-links {
        margin-right: 30px;
    }
    .contact-bar {
        height: .15rem;
        margin-left: 30px;
    }
    h2 {
        color: $di__primary;
        flex: 1;
        font-size: 1.8rem;
        font-weight: 400;
        margin: 40px 0 7px 0;
        padding-left: 30px;
        text-transform: lowercase;
    }
    #di-contact-form {
        padding-left: 30px;
    }
}

@media screen and (min-width: 375px) {
    .bg {
    
        svg {
            bottom: 0;
            fill: $di__light;
            left: -130%;
            opacity: .15;
            position: absolute;
            top: 0;
            width: 390%;
        }
    }
}

@media screen and (min-width: 410px) {
    .contact-main {
        height: calc(100vh - 80px);
    }
    
    .bg {
    
        svg {
            bottom: 0;
            fill: $di__light;
            left: -120%;
            opacity: .15;
            position: absolute;
            top: 0;
            width: 360%;
        }
    }
}

@media screen and (min-width: 425px) {
    .bg {
    
        svg {
            bottom: 0;
            fill: $di__light;
            left: -140%;
            opacity: .15;
            position: absolute;
            top: 0;
            width: 410%;
        }
    }
    .contact-links {
        margin: 120px 30px 0 0;
        width: 40px;
    
        a {
            display: block;
            margin-bottom: 25px;
    
            svg {
                height: 30px;
            }
        }
    }

    h2 {
        font-size: 2.2rem;
        margin: 60px 0 10px 0;
        padding-left: 30px;
    }

    .contact-bar {
        height: .15rem;
        margin-left: 30px;
        width: 150px;
    }
    
    #di-contact-form {
        margin-top: 25px;
    }
}

@media screen and (min-width: 540px) {
    .bg {
    
        svg {
            bottom: 0;
            fill: $di__light;
            left: -70%;
            opacity: .15;
            position: absolute;
            top: 0;
            width: 250%;
        }
    }

    .contact-links {
        margin: 140px 30px 0 0;
        width: 35px;
    
        a {
            display: block;
            margin-bottom: 20px;
    
            svg {
                height: 25px;
            }
        }
    }

    h2 {
        font-size: 2.8rem;
        margin: 70px 0 10px 0;
        padding-left: 30px;
    }

    .contact-bar {
        height: .15rem;
        margin-left: 30px;
        width: 200px;
    }
    
    #di-contact-form {
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;
    }
}

@media screen and (min-width: 768px) {
    .contact-main {
        height: calc(100vh - 417px);
        position: relative;
        width: 100%;
    }

    .contact-links {
        margin: 135px 30px 0 0;
        width: 35px;
    
        a {
            display: block;
            margin-bottom: 20px;
    
            svg {
                height: 25px;
            }
        }
    }

    h2 {
        font-size: 2.8rem;
        margin: 55px 0 10px 0;
        padding-left: 30px;
    }
}

@media screen and (min-width: 1024px) {

}

@media screen and (min-width: 1280px) {
    .bg {
    
        svg {
            bottom: 0;
            fill: $di__light;
            left: 0;
            opacity: .15;
            position: absolute;
            top: 0;
            width: 113%;
        }
    }
}

@media screen and (min-width: 1440px) {

}

@media screen and (min-width: 1600px) {

}

@media screen and (min-width: 1920px) {

}