/*
    @package diTheme
    ##################################################
    |   CONTACT PAGE STYLES                          |
    ##################################################
*/
@use "sass:math";
@import './modules/reset';
@import './modules/variables';
@import './modules/mixins';
@import './modules/formElements';

.contact-main {
    height: calc(100vh - 60px);
    position: relative;
    width: 100%;
}

.bg {
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;

    svg {
        bottom: 0;
        fill: $di__light;
        left: -150%;
        opacity: .15;
        overflow: hidden;
        position: absolute;
        top: 0;
        width: 420%;
    }
}

#di-contact-form {
    width: 100%;
    .field-containter {
        width: 100%;
    }
}

@media screen and (min-width: 360px) {
    .bg {
    
        svg {
            bottom: 0;
            fill: $di__light;
            left: -130%;
            opacity: .15;
            position: absolute;
            top: 0;
            width: 380%;
        }
    }
}

@media screen and (min-width: 375px) {
    .bg {
    
        svg {
            bottom: 0;
            fill: $di__light;
            left: -130%;
            opacity: .15;
            position: absolute;
            top: 0;
            width: 390%;
        }
    }
}

@media screen and (min-width: 410px) {
    .bg {
    
        svg {
            bottom: 0;
            fill: $di__light;
            left: -120%;
            opacity: .15;
            position: absolute;
            top: 0;
            width: 360%;
        }
    }
}

@media screen and (min-width: 425px) {
    .bg {
    
        svg {
            bottom: 0;
            fill: $di__light;
            left: -140%;
            opacity: .15;
            position: absolute;
            top: 0;
            width: 410%;
        }
    }
}

@media screen and (min-width: 540px) {
    .bg {
    
        svg {
            bottom: 0;
            fill: $di__light;
            left: -70%;
            opacity: .15;
            position: absolute;
            top: 0;
            width: 250%;
        }
    }
}

@media screen and (min-width: 768px) {
    
}

@media screen and (min-width: 1024px) {

}

@media screen and (min-width: 1280px) {
    .bg {
    
        svg {
            bottom: 0;
            fill: $di__light;
            left: 0;
            opacity: .15;
            position: absolute;
            top: 0;
            width: 113%;
        }
    }
}

@media screen and (min-width: 1440px) {

}

@media screen and (min-width: 1600px) {

}

@media screen and (min-width: 1920px) {

}