/*
    @package diTheme
    ##################################################
    |   HOME PAGE STYLES                             |
    ##################################################
*/
@use "sass:math";
@import './modules/reset';
@import './modules/variables';
@import './modules/mixins';
html {
    overflow: hidden;
}

main {
    height: 100vh;
    inset: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    perspective: 300px;
    position: absolute;
    scroll-behavior: smooth;
    width: 100vw;
    
    .full-height {
        height: 100vh;
    }
}

.home-hero {
    height: 100vh;
    position: relative;
    transform-style: preserve-3d;
    z-index: 0;
    @include animate(height, 1000ms);

    .bg-title {
        inset: 0;
        position: absolute;
        transform: translateZ(-1600px) scale(6.333333);

        h2 {
            color: $di__grey;
            font-size: 1.4rem;
            font-weight: 300;
            line-height: 1.6;
            padding: 0 21%;
            position: absolute;
            scroll-behavior: smooth; 
            text-align: center;
            text-transform: lowercase;
            top: 25vh;
            width: 100%;
            will-change: transform;
        }
    }

    .bg-city1 {
        inset: 0;
        position: absolute;
        transform: translateZ(-1600px) scale(6.333333);

        svg {
            bottom: 0;
            left: -65%;
            position: absolute;
            width: 350%;
            .cls-1{fill:rgb(230, 231, 232);}
            .cls-1,.cls-2,.cls-3{fill-rule:evenodd;}
            .cls-2{fill:rgb(245, 245, 246);}
            .cls-3{fill:rgb(208, 210, 211);}
        }
    }
    .bg-city2 {
        inset: 0;
        position: absolute;
        transform: translateZ(-1200px) scale(5);

        svg {
            bottom: 0;
            left: -65%;
            position: absolute;
            width: 350%;

            .cls-1{fill:rgb(223, 224, 225);}
            .cls-1,.cls-2,.cls-3{fill-rule:evenodd;}
            .cls-2{fill:rgb(245, 245, 246);}
            .cls-3{fill:rgb(208, 210, 211);}
        }
    }
    .bg-city3 {
        inset: 0;
        position: absolute;
        transform: translateZ(-900px) scale(4);

        svg {
            bottom: 0;
            left: -65%;
            position: absolute;
            width: 350%;

            .cls-1{fill:rgb(230, 231, 232);}
            .cls-1,.cls-2,.cls-3{fill-rule:evenodd;}
            .cls-2{fill:rgb(245, 245, 246);}
            .cls-3{fill:rgb(208, 210, 211);}
        }
    } 
    .bg-city4 {
        inset: 0;
        position: absolute;
        transform: translateZ(-525px) scale(2.75);

        svg {
            bottom: 0;
            left: -65%;
            position: absolute;
            width: 350%;

            .cls-1{fill:rgb(197, 199, 201);}
            .cls-1,.cls-2,.cls-3{fill-rule:evenodd;}
            .cls-2{fill:rgb(187, 189, 191);}
            .cls-3{fill:rgb(223, 224, 225);}
        }
    }
    .bg-city5 {
        inset: 0;
        position: absolute;
        top: -60px;
        transform: translateZ(-250px) scale(1.833333);

        svg {
            bottom: 0;
            left: -65%;
            position: absolute;
            width: 350%;
            .cls-1{fill:$di__light; fill-rule:evenodd;}
        }
    }
    .bg-city6 {
        inset: 0;
        position: absolute;
        top: -60px;
        transform: translateZ(-125px) scale(1.4167);

        svg {
            bottom: 0;
            left: -65%;
            position: absolute;
            width: 350%;
            .cls-1{fill:$di__mix; fill-rule:evenodd;}
        }
    }
    .bg-city7 {
        inset: 0;
        position: absolute;
        transform: translateZ(0px) scale(1);

        svg {
            bottom: 0px;
            left: -65%;
            position: absolute;
            width: 350%;
            .cls-1{fill:$di__blue; fill-rule:evenodd;}
        }
    }
}

.home-about {
    background: $di__secondary;
    position: relative;
    top: 0px;

    .top-left {
        left: 0;
        position: absolute;
        top: 0;

        svg {
            fill: $di__blue;
            height: 40px;
        }
    }
    .top-right {
        position: absolute;
        right: 0;
        top: -39px;

        svg {
            fill: $di__secondary;
            height: 40px;
        }
    }

    h2 {
        color: $di__white;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.6;
        padding-top: 50px;
        position: relative;
        text-align: center;
        text-transform: lowercase;
        width: 100%;
    }

    p {
        color: $di__white;
        font-size: .725rem;
        font-weight: 400;
        padding: 5px 0 0 0;
        text-align: center;
        text-transform: lowercase;
    }

    nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 50px;
        position: relative;
        width: 100%;

        a {
            color: $di__white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-bottom: 50px;
            text-align: center;
            text-decoration: none;
            text-transform: lowercase;
            width: 50%;
            @include animate( color, 250ms );

            svg {
                fill: $di__white;
                height: 40px;
                margin-bottom: 10px;
                @include animate( fill, 250ms );
            }
            span {
                font-size: 1.2rem;
                font-weight: 300;
            }

            &:active {
                color: $di__light;
                svg { fill: $di__light; }
            }
            &:hover {
                color: $di__light;
                svg { fill: $di__light; }
            }

        }
    }
}

.home-portfolio {
    background: white;
    position: relative;

    .top-left {
        left: 0;
        position: absolute;
        top: 0;

        svg {
            fill: $di__secondary;
            height: 40px;
        }
    }
    .top-right {
        position: absolute;
        right: 0;
        top: -39px;

        svg {
            fill: white;
            height: 40px;
        }
    }

    h2 {
        color: $di__blue;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.6;
        padding-top: 50px;
        position: relative;
        text-align: center;
        text-transform: lowercase;
        width: 100%;
    }

    p {
        color: $di__grey;
        font-size: .725rem;
        font-weight: 400;
        padding: 5px 0 40px 0;
        text-align: center;
        text-transform: lowercase;
    }

    .portfolio-carousel {
        align-items: center;
        display: flex;
        justify-content: space-around;
        padding-bottom: 120px;
        position: relative;

        button {
            background: none;
            border: none;
            outline: none;
            padding: 0;

            svg {
                fill: none;
                height: 30px;
                stroke: $di__grey-medium;
                stroke-width: 6px;
            }
        }

        .card {
            background: white;
            border: solid 1px $di__grey-light;
            border-radius: 15px;
            box-shadow: 0 0 6px rgba(0, 0, 0, .25);
            color: $di__grey-light;
            font-size: 4rem;
            font-weight: 600;
            height: 200px;
            line-height: 200px;
            position: relative;
            text-align: center;
            width: 135px;

            .card-info {
                bottom: -80px;
                box-sizing: content-box;
                color: $di__grey;
                height: 60px;
                line-height: 1.6;
                position: absolute;
                text-align: center;
                width: 100%;

                h4 {
                    font-size: 1.2rem;
                    font-weight: 700;
                    text-transform: uppercase;
                }
                span {
                    font-size: 1rem;
                    font-weight: 400;
                    text-transform: lowercase;
                }
            }
        }

        .hidden {
            display: none;
        }
    }
}

.home-services {
    background: $di__grey-light;
    position: relative;

    .top-left {
        left: 0;
        position: absolute;
        top: 0;

        svg {
            fill: white;
            height: 40px;
        }
    }
    .top-right {
        position: absolute;
        right: 0;
        top: -39px;

        svg {
            fill: $di__grey-light;
            height: 40px;
        }
    }

    h2 {
        color: $di__blue;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.6;
        padding-top: 50px;
        position: relative;
        text-align: center;
        text-transform: lowercase;
        width: 100%;

    }

    p {
        color: $di__grey;
        font-size: .725rem;
        font-weight: 400;
        padding: 5px 0 0 0;
        text-align: center;
        text-transform: lowercase;
    }

    nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 50px 0;
        position: relative;
        width: 100%;

        a {
            color: $di__primary;
            display: flex;
            flex: 1;
            flex-direction: column;
            justify-content: center;
            margin-bottom: 20px;
            text-align: center;
            text-decoration: none;
            text-transform: lowercase;
            @include animate( color, 250ms );

            svg {
                fill: $di__primary;
                height: 40px;
                margin-bottom: 10px;
                @include animate( fill, 250ms );
            }
            
            span {
                font-size: .8rem;
                font-weight: 300;
            }

            &:active {
                color: $di__light;
                svg { fill: $di__light; }
            }
            &:hover {
                color: $di__light;
                svg { fill: $di__light; }
            }

        }
    }
}

.home-testimonials {
    background: white;
    min-height: 800px;
    position: relative;

    .top-left {
        left: 0;
        position: absolute;
        top: 0;

        svg {
            fill: $di__grey-light;
            height: 40px;
        }
    }
    .top-right {
        position: absolute;
        right: 0;
        top: -39px;

        svg {
            fill: white;
            height: 40px;
        }
    }

    h2 {
        color: $di__blue;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.6;
        padding-top: 50px;
        position: relative;
        text-align: center;
        text-transform: lowercase;
        width: 100%;

    }

    p {
        color: $di__grey;
        font-size: .725rem;
        font-weight: 400;
        padding: 5px 0 40px 0;
        text-align: center;
        text-transform: lowercase;
    }
}

@media screen and (min-width: 360px) {
    
    .home-hero {
        height: 100vh;

        .bg-title {
            h2 {
                font-size: 1.7rem;
                line-height: 1.6;
                padding: 0 21.5%;
            }
        }
    
        .bg-city1 {
            svg {
                left: -56%;
                width: 330%;
            }
        }
        .bg-city2 {
            svg {
                left: -56%;
                width: 330%;
            }
        }
        .bg-city3 {
            svg {
                left: -56%;
                width: 330%;
            }
        }
        .bg-city4 {
            svg {
                left: -56%;
                width: 330%;
            }
        }
        .bg-city5 {
            top: -70px;
            svg {
                left: -56%;
                width: 330%;
            }
        }
        .bg-city6 {
            top: -70px;
            svg {
                left: -56%;
                width: 330%;
            }
        }
        .bg-city7 {
            svg {
                left: -56%;
                width: 330%;
            }
        }
    }

    .home-about, .home-portfolio, .home-services, .home-testimonials {
        .top-left {
            svg {
                height: 45px;
            }
        }
        .top-right {
            top: -44px;

            svg {
                height: 45px;
            }
        }
    }

    .home-about, .home-services {
        h2 {
            font-size: 1.7rem;
            padding-top: 60px;
        }

        p {
            font-size: .9rem;
            padding: 10px 0 0 0;
        }
    }
    .home-portfolio, .home-testimonials {
        h2 {
            font-size: 1.7rem;
            padding-top: 50px;
        }

        p {
            font-size: .9rem;
            padding: 10px 0 0 0;
        }
    }

    .home-about {
        
        nav {
            padding: 60px 0 60px 0;
    
            a {
                margin-bottom: 60px;
                width: 50%;
    
                svg {
                    height: 50px;
                    margin-bottom: 10px;
                }
                span {
                    font-size: 1.5rem;
                    font-weight: 300;
                }
    
            }
        }
    }

    .home-services {
        nav {
            padding: 60px 0 20px 0;
    
            a {
                margin-bottom: 60px;
    
                svg {
                    height: 50px;
                    margin-bottom: 10px;
                }
                span {
                    font-size: 1rem;
                    font-weight: 300;
                }
    
            }
        }
    }
    
}

@media screen and (min-width: 375px) {

    .home-hero {
        .bg-title {
            h2 {
                font-size: 1.9rem;
                line-height: 1.6;
                padding: 0 20%;
            }
        }
    }

    .home-about, .home-portfolio, .home-services, .home-testimonials {
    
        .top-left {
            top: -1px;

            svg {
                height: 50px;
            }
        }
        .top-right {
            top: -49px;

            svg {
                height: 50px;
            }
        }

        h2, p {
            font-weight: 300;
        }
    }
    
}

@media screen and (min-width: 410px) {
    .home-hero {
        height: 100vh;
        
        .bg-title {
            h2 {
                font-size: 2rem;
                padding: 0 20%;
            }
        }
        .bg-city1 {
            svg {
                left: -50%;
                width: 310%;
            }
        }
        .bg-city2 {
            svg {
                left: -50%;
                width: 310%;
            }
        }
        .bg-city3 {
            svg {
                left: -50%;
                width: 310%;
            }
        }
        .bg-city4 {
            svg {
                left: -50%;
                width: 310%;
            }
        }
        .bg-city5 {
            top: -80px;
            svg {
                left: -50%;
                width: 310%;
            }
        }
        .bg-city6 {
            top: -80px;
            svg {
                left: -50%;
                width: 310%;
            }
        }
        .bg-city7 {
            svg {
                left: -50%;
                width: 310%;
            }
        }
    }

    .home-about, .home-services {
        h2 {
            font-size: 2rem;
            padding-top: 80px;
        }
        
        p {
            font-size: 1rem;
            padding: 10px 0 0 0;
        }
    }
    .home-portfolio, .home-testimonials {
        h2 {
            font-size: 2rem;
            padding-top: 60px;
        }

        p {
            font-size: 1rem;
            padding: 10px 0 0 0;
        }
    }

    .home-about {
        nav {
            padding-top: 80px;
    
            a {
                margin-bottom: 80px;
                width: 50%;
    
                svg {
                    height: 50px;
                    margin-bottom: 10px;
                }
                span {
                    font-size: 1.5rem;
                    font-weight: 300;
                }
    
            }
        }
    }
    
    .home-services {
        nav {
            padding-top: 80px;
    
            a {
                margin-bottom: 80px;
    
                svg {
                    height: 60px;
                    margin-bottom: 10px;
                }
                span {
                    font-size: 1.2rem;
                    font-weight: 300;
                }
    
            }
        }
    }
}

@media screen and (min-width: 425px) {

    .home-hero {
        .bg-title {
            h2 {
                padding: 0 22%;
            }
        }
    }

    .home-about, .home-portfolio, .home-services, .home-testimonials {
    
        .top-left {
            svg {
                height: 55px;
            }
        }
        .top-right {
            top: -54px;

            svg {
                height: 55px;
            }
        }
    }
    
}

@media screen and (min-width: 540px) {
    .home-hero {
        .bg-title {
            h2 {
                font-size: 2.8rem;
                font-weight: 200;
                padding: 0 20%;
                top: 25vh;
            }
        }

        .bg-city1{
            svg {
                left: -7%;
                width: 220%;
            }
        }
        .bg-city2{
            svg {
                left: -7%;
                width: 220%;
            }
        }
        .bg-city3{
            svg {
                left: -7%;
                width: 220%;
            }
        }
        .bg-city4{
            svg {
                left: -7%;
                width: 220%;
            }
        }
        .bg-city5{
            svg {
                left: -7%;
                width: 220%;
            }
        }
        .bg-city6{
            svg {
                left: -7%;
                width: 220%;
            }
        }
        .bg-city7{
            svg {
                left: -7%;
                width: 220%;
            }
        }
    }

    .home-about, .home-services {
        h2 {
            font-size: 2.8rem;
            font-weight: 200;
            padding-top: 120px;
        }

        p {
            font-size: 1.4rem;
            padding: 15px 0 0 0;
        }
    }
    .home-portfolio, .home-testimonials {
        h2 {
            font-size: 2.8rem;
            font-weight: 200;
            padding-top: 80px;
        }

        p {
            font-size: 1.4rem;
            padding: 15px 0 0 0;
        }
    }

    .home-about {
        nav {
            padding: 80px 0 60px 0;
    
            a {
                margin-bottom: 80px;
                width: 25%;
    
                svg {
                    height: 50px;
                    margin-bottom: 10px;
                }
                span {
                    font-size: 1.5rem;
                    font-weight: 300;
                }
    
            }
        }
    }

    .home-services {
        nav {
            padding: 80px 0 60px 0;
    
            a {
                margin-bottom: 80px;
    
                svg {
                    height: 60px;
                    margin-bottom: 10px;
                }
                span {
                    font-size: 1.5rem;
                    font-weight: 300;
                }
    
            }
        }
    }
}

@media screen and (min-width: 768px) {
    main {
        height: 100vh;
    }

    .home-hero {
        max-height: 100vh;

        .bg-title {
            h2 {
                font-size: 4rem;
                padding: 0 20%;
            }
        }
    }

    .home-about, .home-portfolio, .home-services, .home-testimonials {
    
        .top-left {
            svg {
                height: 66px;
            }
        }
        .top-right {
            top: -65px;

            svg {
                height: 66px;
            }
        }
    }

    .home-about, .home-services {
        h2 {
            font-size: 4rem;
            padding-top: 150px;
        }

        p {
            font-size: 2rem;
            font-weight: 200;
            padding: 20px 0 0 0;
        }
    }
    .home-portfolio, .home-testimonials {
        h2 {
            font-size: 4rem;
            padding-top: 200px;
        }

        p {
            font-size: 2rem;
            font-weight: 200;
            padding: 20px 0 0 0;
        }
    }

    .home-about {
        nav {
            padding: 100px 0 100px 0;
    
            a {
                margin-bottom: 100px;
                width: 25%;
    
                svg {
                    height: 55px;
                    margin-bottom: 10px;
                }
                span {
                    font-size: 1.7rem;
                    font-weight: 300;
                }
    
            }
        }
    }

    .home-services {
        nav {
            padding: 100px 0;
    
            a {
                margin-bottom: 100px;
    
                svg {
                    height: 80px;
                    margin-bottom: 15px;
                }
                span {
                    font-size: 1.8rem;
                    font-weight: 300;
                }
    
            }
        }
    }

    @media (orientation: landscape) {
        main {
            height: 100vh;
        }
        .home-hero {
            height: 100vh;
            top: 0;
            .bg-title {
                h2 {
                    padding: 0;
                    top: 15vh;
                }
            }
    
            .bg-city1{
                svg {
                    left: 0;
                    width: 100%;
                }
            }
            .bg-city2{
                svg {
                    left: 0;
                    width: 100%;
                }
            }
            .bg-city3{
                svg {
                    left: 0;
                    width: 100%;
                }
            }
            .bg-city4{
                svg {
                    left: 0;
                    width: 100%;
                }
            }
            .bg-city5{
                svg {
                    left: 0;
                    width: 100%;
                }
            }
            .bg-city6{
                svg {
                    left: 0;
                    width: 100%;
                }
            }
            .bg-city7{
                svg {
                    left: 0;
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    main {
        height: 100%;
        inset: 0;
    }
    
    .home-hero {
        max-height: 100vh;

        .bg-title {
            h2 {
                font-size: 4.8rem;
                padding: 0 22%;
            }
        }
    }

    .home-about, .home-portfolio, .home-services, .home-testimonials {
    
        .top-left {
            svg {
                height: 83px;
            }
        }
        .top-right {
            top: -82px;

            svg {
                height: 83px;
            }
        }
    }

    .home-about, .home-services {
        h2 {
            font-size: 4.8rem;
            padding-top: 150px;
        }

        p {
            font-size: 2.4rem;
            padding: 20px 0 0 0;
        }
    }
    .home-portfolio, .home-testimonials {
        h2 {
            font-size: 4.8rem;
            padding-top: 100px;
        }

        p {
            font-size: 2.4rem;
            padding: 20px 0 0 0;
        }
    }

    .home-about {
        nav {
            padding: 120px 0 100px 0;
    
            a {
                margin-bottom: 100px;
                width: 25%;
    
                svg {
                    height: 80px;
                    margin-bottom: 20px;
                }
                span {
                    font-size: 2.4rem;
                    font-weight: 300;
                }
    
            }
        }
    }

    .home-services {
        nav {
            padding: 100px 12.5%;
        }
    }
}

@media screen and (min-width: 1280px) {
    
    .home-hero {
        height: 100vh;
        top: 0;
        .bg-title {
            h2 {
                padding: 0;
                top: 15vh;
            }
        }

        .bg-city1{
            svg {
                left: 0;
                width: 100%;
            }
        }
        .bg-city2{
            svg {
                left: 0;
                width: 100%;
            }
        }
        .bg-city3{
            svg {
                left: 0;
                width: 100%;
            }
        }
        .bg-city4{
            svg {
                left: 0;
                width: 100%;
            }
        }
        .bg-city5{
            svg {
                left: 0;
                width: 100%;
            }
        }
        .bg-city6{
            svg {
                left: 0;
                width: 100%;
            }
        }
        .bg-city7{
            svg {
                left: 0;
                width: 100%;
            }
        }
    }

    .home-about, .home-services {
        h2 {
            font-size: 4.8rem;
            padding-top: 150px;
        }
    }
    .home-portfolio, .home-testimonials {
        h2 {
            font-size: 4.8rem;
            padding-top: 80px;
        }

        p {
            font-size: 2.4rem;
            padding: 20px 0 0 0;
        }
    }

    .home-about {
        nav {
            justify-content: space-around;
            padding: 100px 0 180px 0;
    
            a {
                flex: 0;
                margin-bottom: 0;
                width: unset;
    
                svg {
                    height: 55px;
                    margin-bottom: 20px;
                }
                span {
                    font-size: 1.8rem;
                    font-weight: 300;
                }
    
            }
        }
    }

    .home-services {
        nav {
            padding: 100px 15%;

            a {
                flex: unset;

                span {
                    flex: fit-content;
                }
            }
        }
    }
}

@media screen and (min-width: 1440px) {

    .home-about, .home-portfolio, .home-services, .home-testimonials {
    
        .top-left {
            svg {
                height: 100px;
            }
        }
        .top-right {
            top: -99px;

            svg {
                height: 100px;
            }
        }
    }

    .home-services {
        nav {
            padding: 100px 17.5% 100px 15%;
        }
    }
    
}

@media screen and (min-width: 1600px) {

    .home-hero {
        .bg-title {
            h2 {
                font-size: 6rem;
            }
        }
    }

    .home-about, .home-portfolio, .home-services, .home-testimonials {
    
        .top-left {
            svg {
                height: 125px;
            }
        }
        .top-right {
            top: -123px;
            
            svg {
                height: 125px;
            }
        }
    }

    .home-about, .home-services {
        h2 {
            font-size: 6rem;
            font-weight: 200;
            padding-top: 180px;
        }

        p {
            font-size: 3rem;
            font-weight: 200;
            padding: 20px 0 0 0;
        }
    }
    .home-portfolio, .home-testimonials {
        h2 {
            font-size: 6rem;
            font-weight: 200;
            padding-top: 100px;
        }

        p {
            font-size: 3rem;
            font-weight: 200;
            padding: 20px 0 0 0;
        }
    }

    .home-about {
        nav {
            justify-content: space-around;
            padding: 160px 0 220px 0;
    
            a {
                flex: 0;
                margin-bottom: 0;
                width: unset;
    
                svg {
                    height: 80px;
                    margin-bottom: 20px;
                }
                span {
                    font-size: 2.4rem;
                    font-weight: 300;
                }
    
            }
        }
    }

    .home-services {
        nav {
            padding: 160px 17.5% 220px 15%;
    
            a {
                margin-bottom: 0;
    
                svg {
                    height: 120px;
                    margin-bottom: 20px;
                }
                span {
                    font-size: 2.4rem;
                    font-weight: 300;
                }
    
            }
        }
    }
}