/*
    @package diTheme
    ##################################################
    |   THEME LINK STYLES                            |
    ##################################################
*/

.link {
    color: $di__grey-dark;
    text-decoration: none;
    @include animate( color, 250ms );

    &:active {
        color: $di__light;
    }
    &:hover {
        color: $di__light;
    }
}

.link-copyright {
    color: $di__light;
    text-decoration: none;
    @include animate( color, 250ms );

    &:active {
        color: $di__secondary;
    }
    &:hover {
        color: $di__secondary;
    }
}

.link-home {
    color: $di__light;
    font-weight: 600;

    &:active {
        color: $di__grey;
    }
    &:hover {
        color: $di__grey;
    }
}

@media screen and (min-width: 540px) {
    .link-home {
        font-weight: 500;
    }
}

@media screen and (min-width: 1280px) {
    .link-home {
        font-weight: 400;
    }
}