/*
    @package diTheme
    ##################################################
    |   COLOR VARIABLES                              |
    ##################################################
*/

$di__primary : rgb( 63, 88, 159);
$di__secondary : rgb( 101, 125, 190);
$di__tertiary : rgb( 122, 136, 175);
$di__light: rgb( 167, 182, 222 );
$di__dark : rgb( 87, 91, 120 );

$di__grey: rgb(153, 153, 153);
$di__grey-dark: rgb(102, 102, 102);
$di__grey-light: rgb(230, 231, 232);