/*
    @package diTheme
    ##################################################
    |   THEME COLOR VARIABLES                        |
    ##################################################
*/

$di__primary: rgb( 101, 121, 178);
$di__secondary: rgb( 131, 151, 203);
$di__tertiary: rgb( 122, 136, 175);
$di__light: rgb( 167, 182, 222 );
$di__dark: rgb( 87, 91, 120 );
$di__mix: rgb( 101, 125, 190);

$di__placeholder: rgb(160, 160, 160);

$di__grey: rgb(153, 153, 153);
$di__grey-dark: rgb(102, 102, 102);
$di__grey-light: rgb(230, 231, 232);
$di__grey-medium: rgb(197, 199, 201);

$di__red: rgb(172, 60, 61);
$di__blue: rgb(63, 88, 159);
$di__white: rgb(245, 245, 246);