/*
    @package diTheme
*/

/*
    ##################################################
    |   COLOR VARIABLES                              |
    ##################################################
*/
$color__primary : rgb( 63, 88, 159);
$color__secondary : rgb( 122, 136, 175);
$color__active : rgb( 101, 125, 190);
$color__hover : rgb( 167, 182, 222 );
$font__dark : rgb( 87, 91, 120 );