/*
    @package diTheme
    ##################################################
    |   USER AUTHORIZATION FORM STYLES               |
    ##################################################
*/

@import './modules/variables';
@import './modules/mixins';
@import './modules/formElements';
@import './modules/buttons';

.auth-main {
    background: none;
    overflow-x: hidden;
    position: relative;
    width: 100%;

    .bg {
        bottom: 0;
        left: -130%;
        overflow: hidden;
        position: absolute;
        top: 0;
        width: 420%;
        z-index: -1;
    
        svg {
            fill: $di__light;
            height: 100%;
            object-fit: fill;
            opacity: .05;
            overflow: hidden;
        }
    }
    
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding-bottom: 40px;
    }
    
    h2 {
        color: $di__primary;
        flex: 1 100%;
        font-size: 1.5rem;
        font-weight: 400;
        margin: 40px auto 5px;
        text-align: center;
        text-transform: lowercase;
        width: 100%;

        &::after {
            border-bottom: solid 1px $di__primary;
            bottom: -5px;
            content: '';
            display: block;
            height: 1px;
            margin: 0 auto;
            position: relative;
            width: 105px;
        }
    }

    .auth-info {
        color: $di__grey;
        flex: 1 100%;
        font-style: italic;
        margin: 1.5rem 0 0 0;
        padding: 0 1.5rem;
        position: relative;
        text-align: center;
        width: 100%;

        &.error {
            color: $di__red;
        }
    }

    .hint {
        color: $di__grey;
        flex: 1 100%;
        font-size: .9rem;
        font-style: italic;
        margin: 1.5rem 0;
        padding: 0;
        position: relative;
        text-align: center;
        width: 100%;
    }

    #di-login-form, #di-register-form, #di-lost-password-form, #di-reset-password-form {
        flex: 1 100%;
        margin: 1.5rem 0 .5rem;
        padding: 0 1.5rem;
        position: relative;
        width: 100%;
    }

    #di-login-form {
        button.visible {
            right: 1rem;
        }
    }

    #password-strength {
        border-radius: 2rem;
        display: none;
        font-weight: 600;
        margin: 0 auto;
        padding: .7rem 2rem;
        text-align: center;
        text-transform: uppercase;
        width: 65%;

        &.bad {
            background: lighten($di__red, 40);
            border: 1px solid $di__red;
            color: $di__red;
        }
        &.weak {
            background: lighten($di__orange, 40);
            border: 1px solid $di__orange;
            color: $di__orange;
        }
        &.warning {
            background: lighten($di__yellow, 40);
            border: 1px solid $di__yellow;
            color: $di__yellow;
        }
        &.strong {
            background: lighten($di__green, 40);
            border: 1px solid $di__green;
            color: $di__green;
        }
    }

    .g-recaptcha {
        transform:scale(0.69);
        -webkit-transform:scale(0.69);
        transform-origin:0 0;
        -webkit-transform-origin:0 0;
    }

    .auth-links {
        flex: 1 100%;
        font-size: 1.2rem;
        padding: 0 1.5rem;
        width: 100%;
        text-align: center;
    }
}



@media screen and (min-width: 320px) {
    .auth-main {
        .bg {
            bottom: 0;
            left: -100%;
            overflow: hidden;
            position: absolute;
            top: 0;
            width: 420%;
            z-index: -1;
        
            svg {
                fill: $di__light;
                height: 100%;
                object-fit: fill;
                opacity: .15;
                overflow: hidden;
            }
        }

        .g-recaptcha {
            transform:scale(0.83);
            -webkit-transform:scale(0.83);
            transform-origin:0 0;
            -webkit-transform-origin:0 0;
        }
    }
}

@media screen and (min-width: 360px) {
    .auth-main {
        .bg {
            bottom: 0;
            left: -120%;
            overflow: hidden;
            position: absolute;
            top: 0;
            width: 420%;
            z-index: -1;
        }

        
        h2 {
            font-size: 1.8rem;

            &::after {
                width: 125px;
            }
        }

        .g-recaptcha {
            transform:scale(0.89);
            -webkit-transform:scale(0.89);
            transform-origin:0 0;
            -webkit-transform-origin:0 0;
        }

        .hint {
            font-size: 1.1rem;
        }

    }
}

@media screen and (min-width: 375px) {
    .auth-main {
        .bg {
            bottom: 0;
            left: -120%;
            overflow: hidden;
            position: absolute;
            top: 0;
            width: 420%;
            z-index: -1;
        }

        .container {
            padding-bottom: 7rem;
        }

        h2 {
            margin: 6rem 0 1.5rem;
        }
        .auth-info {
            margin-bottom: 1.5rem;
        }

        .g-recaptcha {
            transform:scale(0.94);
            -webkit-transform:scale(0.94);
            transform-origin:0 0;
            -webkit-transform-origin:0 0;
        }
    }
}

@media screen and (min-width: 410px) {
    .auth-main {

        .bg {
            bottom: 0;
            left: -100%;
            overflow: hidden;
            position: absolute;
            top: 0;
            width: 360%;
            z-index: -1;
        }

        .g-recaptcha {
            transform:unset;
            -webkit-transform:unset;
            transform-origin:unset;
            -webkit-transform-origin:unset;
        }

        #di-login-form, #di-register-form, #di-lost-password-form, #di-reset-password-form {
            margin: 1.5rem 0 1.5rem;
        }

    }
    
}

@media screen and (min-width: 425px) {
    .auth-main {
        .bg {
            bottom: 0;
            left: -120%;
            overflow: hidden;
            position: absolute;
            top: 0;
            width: 360%;
            z-index: -1;
        }

        .container {
            padding-bottom: 8rem;
        }

        h2 {
            font-size: 2.2rem;
            margin: 8rem 0 3rem 0;

            &::after {
                border-width: 1.5px;
                bottom: -10px;
                width: 150px;
            }
        }
    }
}

@media screen and (min-width: 540px) {
    .auth-main {

        .bg {
            bottom: 0;
            left: -70%;
            overflow: hidden;
            position: absolute;
            top: 0;
            width: 250%;
            z-index: -1;
        }

        h2 {
            font-size: 2.8rem;
            margin: 60px 0 10px 0;

            &::after {
                width: 200px;
            }
        }

        #password-strength {
            margin: 0 auto 1rem auto;
        }

        .auth-info {
            font-size: 1.1rem;
            margin: 2rem 0 0 0;
        }
        
        #di-login-form, #di-lost-password-form, #di-reset-password-form {
            display: flex;
            flex: 0 280px;
            flex-direction: row;
            flex-wrap: wrap;
            margin: 30px auto 0;
            width: 280px;

            fieldset {
                flex: 1 100%;
                margin-right: unset;
                width: 100%;
            }
        }

        #di-register-form {
            display: flex;
            flex-wrap: wrap;
            margin-top: 30px;

            .g-recaptcha {
                display: block;
                float: right;
                position: relative;
                right: 0;
            }
        }

        .hint {
            font-size: 1.2rem;
            margin-bottom: 3rem;
        }
    }
}

@media screen and (min-width: 768px) {
    
    .auth-main {
        min-height: calc(100vh - 527px);
        position: relative;
        width: 100%;

        .bg {
            bottom: 0;
            left: -20%;
            overflow: hidden;
            position: absolute;
            top: 0;
            width: 200%;
            z-index: -1;
        }
    
        h2 {
            font-size: 2.8rem;
            margin: 80px 0 20px 0;
        }

        #di-login-form, #di-lost-password-form, #di-reset-password-form {
            display: flex;
            flex: 0 280px;
            flex-direction: row;
            flex-wrap: wrap;
            margin: 30px auto 0;
            width: 280px;

            fieldset {
                flex: 1 100%;
                margin-right: unset;
                width: 100%;
            }
        }

        #di-register-form {
            display: flex;
            flex: 0 60%;
            flex-wrap: wrap;
            margin-left: 20%;
            margin-top: 30px;
            width: 60%;

            .g-recaptcha {
                display: block;
                float: right;
                position: relative;
                right: 0;
            }
        }

    }

}

@media screen and (min-width: 1024px) {
    .auth-main {
        min-height: calc(100vh - 502px);
        position: relative;
        width: 100%;
    
        h2 {
            font-size: 4.8rem;
            margin: 100px 0 40px 0;

            &::after {
                width: 335px;
            }
        }

        #di-login-form, #di-lost-password-form, #di-reset-password-form {
            display: flex;
            flex: 0 380px;
            flex-direction: row;
            flex-wrap: wrap;
            margin: 30px auto 0;
            width: 380px;

            fieldset {
                flex: 1 100%;
                margin-right: unset;
                width: 100%;
            }
        }

    }

}

@media screen and (min-width: 1280px) {
    
    .auth-main {
        position: relative;
        overflow: hidden;
        width: 100%;

        .container {
            display: flex;
            justify-content: unset;
        }
    
        .bg {
            bottom: unset;
            left: -10%;
            overflow: hidden;
            position: absolute;
            top: 0;
            width: 120%;
            z-index: -1;
        }
    
        h2 {
            font-size: 3.6rem;
            margin: 60px 0 20px 0;

            &::after {
                width: 250px;
            }
        }
        
        #di-login-form {
            flex: 0 270px;
            margin-top: 40px;
        }

        #di-register-form {
            display: flex;
            flex: 0 40%;
            flex-wrap: wrap;
            margin-left: 30%;
            margin-top: 30px;
            width: 40%;
        }

    }

}

@media screen and (min-width: 1440px) {
    .auth-main {
        .bg {
            bottom: unset;
            left: -5%;
            overflow: hidden;
            position: absolute;
            top: 0;
            width: 110%;
            z-index: -1;
        }
    }
}

@media screen and (min-width: 1600px) {
    .auth-main {
        
        h2 {
            margin: 100px 0 10px 0;
        }

        
        #di-login-form, #di-register-form, #di-lost-password-form, #di-reset-password-form {
            margin-top: 40px;
        }

        .auth-links {
            margin-bottom: 6rem;
        }
    }
}

@media screen and (min-width: 1920px) {
    .auth-main {
        

        h2 {
            font-size: 4.2rem;
            margin: 120px 0 10px 0;

            &::after {
                width: 300px;
            }
        }
        
        #di-login-form, #di-lost-password-form, #di-reset-password-form {
            flex: 0 320px;
            margin-top: 60px;
            width: 320px;
        }
    }
}